<div class="view-container">
    <app-header></app-header>
    <div class="main-content">
        <div class="main-flex" fxLayout="row" fxLayoutAlign="flex-start">
            <div fxFlex class="main-content-flex">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#8fcf4b" type = "ball-fall" [fullScreen] = "true">
        <p style="color: white" > Loading... </p>
    </ngx-spinner>
</div>