.header-toolbar {
    height: 40px;
    min-height: 40px;
    background-color: #4B0082;
    color: black;
    mat-toolbar-row {
        height: 60px;
    }
}

.title-icon{
    margin-top: 5px;
}
.colorText{
    color: #fff
}