<div class="login-container" [style.height.%]="100" fxLayout="row">
    <div fxFlex="50" class="login-background">
      <div class="logo"></div>
    </div>
    <div fxFlex="50" class="side-background">
      <div fxLayout="column" class="login-container">
        <div fxFlex="25" fxLayout="row">
          <div fxFlex="20"></div>
          <div fxFlex="60" class="logo2"></div>
          <div fxFlex="20"></div>
        </div>
        <div fxFlex="35" fxLayout="column" class="padding">
          <div fxFlex="35"></div>
          <div fxFlex class="login-form">
            <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
              <div fxLayout="column" fxLayoutGap="20px">
                <div fxFlex="25">
                  <mat-form-field>
                    <mat-label>{{languageService.getText("loginText")}}</mat-label>
                    <input matInput placeholder="{{languageService.getText('placeHolderEmail')}}" formControlName="user_name" autocomplete="off">
                  </mat-form-field>
                </div>
                <div fxFlex="25">
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="{{languageService.getText('placeHolderPass')}}" formControlName="password" autocomplete="off">
                  </mat-form-field>
                </div>
                <div fxFlex="25">
                  <button mat-raised-button color="primary" type="sumbit" [class.blank-panel]="LoginForm.invalid" [disabled]="LoginForm.invalid">{{languageService.getText("loginText")}}</button>
                </div>
                <div fxFlex="25" class="signup-link">
                    <a [routerLink]="['/registration']">{{languageService.getText("signupText")}}</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
